* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
}

nav{
    width: 420px;
    height: 100vh;
    border-right: 2px solid #e5e5e5;
    background-color: white;
}

.home-logo {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    width: 85%;
    height: 60px;
    background-color: #EFF4FC;
    margin-bottom: 30px;
    font-size: 13px;
    box-shadow: 2px 2px 2px 2px #d9e8ff;
}

.home-logo>span {
    font-size: 50px;
    font-weight: bold;
    padding-left: 10px;

}


.nav-links{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.nav-links > a > span {
    margin-right: 10px;
    color: gray;
    margin-left: 10px;
}

.nav-links > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

nav > hr{
    width: 85%;
    border: 1px solid #E7E7E7;
    margin-left: 10px;
}

.principal {
    width: 80%;
    background-color: #F5F5F5;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 97%;
    height: 62px;
    background-color: #EDEDED;
    margin-top: 20px;
    box-shadow: 1px 1px 2px 1px gray;
}

header > input {
    width: 40%;
    height: 28px;
    margin-left: 10px;
    background-color: #F5F5F5;
    border: 0 solid;
    padding-left: 5px;
}

.perfil {
    display: flex;
    align-items: center;
}

.fakeimg {
    background-color: darkgray;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-right: 15px;
    transition: 0.5s;
}

.fakeimg:hover{
    border-radius: 10px;
}

.perfil > a {
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 30px;
    padding-left: 30px;
    border-left: 1px solid gray;
    height: 30px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.cadastros{
    margin: auto;
    width: 97%;
    height: 600px;
    margin-top: 30px;
    background-color: white;
    box-shadow: 1px 1px 2px 1px gray;
}

.cadastros > div > h3 {
    color: grey;
    padding-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.cadastros > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cadastros > hr {
    margin: auto;
    width: 92%;
    border: 1px solid #E7E7E7;
}

.cadastros > div > p {
    margin-left: 50px;
    margin-right: 50px;
    width: 20%;

}
.cadastro-btn-label {
    margin-bottom: 30px;
}

.cadastro-btn {
    height: 40px;
    width: 18%;
    background-color: #5763a0;
    color: white;
    font-weight: bold;
    border: 0px solid;
    border-radius: 5px;
    margin-top: 25px;
    margin-right: 25px;
    min-width: 150px;
}

.cadastros-label {
    color: gray;
    margin-bottom: 10px;
}

.cadastros-value {
    margin-top: 8px;
    margin-bottom: 8px;
}

.status {
    text-align: center;
}


@media screen and (max-width: 850px){
    nav {
        display: none;
    }

    .principal {
        margin: auto;
        width: 97%;
        margin-top: 0;
    }

    .cadastros > div > p {
        margin-left: 10px;
        margin-right: 10px;
        width: 23%;
    }
}